/* You can add global styles to this file, and also import other style files */

.titulo {
    display: inline-block;
    width: 100%;
}

#header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

.cerrar {
    position: fixed;
    top: 8.2px;
    right: 5px;
}

#content {
    margin-top: 80px;
}

.cursor {
    cursor: pointer;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: calc(var(--bs-gutter-x) / -2);
}

.row > * {
    max-width: 100%;
    padding-right: 0px !important;
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}

.form-select {
    width: auto !important;
}

#acuerdo .table {
    vertical-align: middle !important;
}

.altura {
    height: 100vh;
}

.anchura {
    width: 100%;
}

.formulario {
    width: 350px;
}

.cursor {
    cursor: pointer;
}
#integrantes > div {
    background-color: rgb(207, 207, 207);
}
#ingresarUsuario,
#ingresarAcuerdo {
    display: none;
}

.lateral-icon {
    width: 10px;
}

#ingresarAcuerdo .form-select,
#ingresarUsuario .form-select {
    width: 100% !important;
}
#exampleModal .formulario,
#exampleModal2 .formulario,
#exampleModal3 .formulario {
    width: 100%;
}

#boton-proyecto .fas {
    line-height: inherit !important;
}
#boton-proyecto a {
    color: black;
}
.color-negro {
    color: black;
}
